<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="preview.android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PreviewApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Preview">
        <activity
            android:name=".activity.management.receiveform.ReceiveFormActivity"
            android:exported="false" />
        <activity
            android:name=".activity.management.sendform.SendFormActivity"
            android:exported="false" />
        <activity
            android:name=".activity.management.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.management.mentorprofile.MentorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.mentorinfo.MentorInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao${kakao_key}" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.error.ErrorActivity"
            android:exported="false" />
        <activity
            android:name=".activity.main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".activity.util.PreviewFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_baseline_home" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/red" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel_id" />
    </application>

</manifest>